body {
	background-color: #A7EBC7 !important;
}



.modal-header {
    padding-top: 20px !important;
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding: 15px;
    text-align: center;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    /* border-top: 1px solid #e5e5e5; */
}


/* border */
#top,
#bottom,
#left,
#right {
	background: #FFF;
	position: fixed;
}

#left,
#right {
	top: 0; bottom: 0;
	width: 20px;
}
	#left { left: 0; }
	#right { right: 0; }

#top,
#bottom {
	left: 0; right: 0;
	height: 20px;
}
	#top { top: 0; }
	#bottom { bottom: 0; }